conf.py
Makefile
decay.mp4
_build
*.rst
docs
*.pyc
*.geo
MeshPy.py
figs
tex
.ipynb_checkpoints
*.eps
*.mtx
*.npy
*.key
*.so
*.c
*.tif
*.swp
*.un~
ssa
524_project/fancymesh.msh
524_project/sparsemath.ipynb
524_project/524_mesh_demo_ess.ipynb
build
